 .card-container {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
    }

    .card {
      background: #191c29;
      width: 240px;
      height: 150px;
      padding: 3px;
      position: relative;
      border-radius: 6px;
      justify-content: center;
      align-items: center;
      text-align: center;
      display: flex;
      font-size: 1.5em;
      color: rgb(88, 199, 250); /* Initial text color */
      /* Show text initially */
      cursor: pointer;
      font-family: cursive;
      transition: color 1s; /* Transition for text color */
      margin: 10px;
    }

    .card:hover {
      color: rgb(88, 199, 250); /* Change the text color on hover */
    }

    .card:hover:before,
    .card:hover:after {
      animation: none;
      opacity: 0;
    }

    .card::after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
      margin: 0 auto;
      transform: scale(0.8);
      filter: blur(calc(24vh / 6)); /* You might need to adjust this value */
      background-image: linear-gradient(var(--rotate), #5dff68, #00d435 43%, #008e02);
      opacity: 1;
      transition: opacity 0.5s;
      animation: spin 2.5s linear infinite;
    }

    .card img {
      max-width: 100%;
      /* Limits the image width */
      max-height: 100%;
      /* Limits the image height */
      opacity: 1;
      /* Initially hide the image with 0 opacity */
      transition: opacity 0.5s;
      /* Add a transition for opacity */
    }

    .card:hover img {
      opacity: 1;
      /* Show the image on hover with a smooth transition */
    }

    @keyframes spin {
      0% {
        --rotate: 0deg;
      }

      100% {
        --rotate: 360deg;
      }
    }

    a {
      color: #212534;
      text-decoration: none;
      font-family: sans-serif;
      font-weight: bold;
      margin-top: 2rem;
    }

    @media (min-width: 577px) and (max-width: 768px) {
      /* sm: Small devices (tablets) */
      /* Adjust styles as needed */
    }

    @media (min-width: 769px) and (max-width: 992px) {
      /* md: Medium devices (desktops) */
      /* Adjust styles as needed */
    }